* {
    margin: 0;
}

.navbar {
    background-color: rgb(5, 17, 109);
    height: 70px;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border: 2px solid rgb(205, 253, 59);
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.profile-image {
    height: 100%;
    width: 100%;
    background-image: url("profile.jpg");
    background-size: contain;
    border-radius: 100%;
    
}

.profile-name {
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    
}

.user-name {
    color: whitesmoke;
    font-weight: 700;
}

.user-position {
    color: rgb(169, 243, 247);
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: white;
    display: inline;
}
.features:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(255, 255, 255, 0.926);
    width: 50%;
    flex-wrap: wrap;
}

.nav-panel p:hover {
    text-decoration: underline;
}

@media (max-width: 520px){
    .navbar {
        height: 50%;
    }
}

.nav-settings {
    color: white;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.nav-settings p {
    margin-left:5px ;
}

/* main container */

/* calender */

.dashboard-items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 1.2em;
    min-width: 350px;
    border-radius: 5px 5px 0 0;  /*table rows still have borders, overflow hides that one*/
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0.15); 
}

.table th {
    background-color: #009879;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
}

.week {
    background-color: rgb(36, 177, 205);
    text-align: left;
}

.table th, .table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {   /*for making even rows some shadow*/
    background-color: #f3f3f3;
}


#last-row {
    border-bottom: 2px solid #009879;
}

td:hover {
    background: lightsalmon;
}

.change-month:hover {
    cursor: pointer;
    color: rgb(231, 141, 195);
}
